<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
     <link rel="stylesheet" href="/static/css/reg.css">
</head>
<body>
<h3>Welcome to Student Registration</h3>
<form action="/savetostudenttable"method="post">
    <table>
        <tr><td>Id</td><td><input type="text" name="sid" placeholder="Your Id"></td></tr>
        <tr><td>Name</td><td><input type="text" name="sname" placeholder="Your Name"></td></tr>
        <tr><td>Phonenumber</td><td><input type="text" name="sphone" placeholder="Your Phonenumber"></td></tr>
        <tr><td>Address</td><td><input type="text" name="saddress" placeholder="Your Address"></td></tr>
        <tr><td>Date of Birth</td><td><input type="date" name="sdob" placeholder="Your DOB"></td></tr>
        <tr><td>Date of Joining</td><td><input type="date" name="sdoj" placeholder="Your DOJ"></td></tr>
        <tr><td><input type="submit" name="save" value="save"></td></tr>
    </table>
</form>

</body>
</html>